{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container">
        <form method="POST" class="form-label" enctype="multipart/form-data">
             {% csrf_token %} 
            title:<input type="text" class="form-control" name="title"> <br> <br>
            body: <textarea rows="4" class="form-control" cols="50" name="body"></textarea>
                 <br> <br> 
            image : <input type="file"  class="form-control" name="image"> <br> <br>
            <input type="submit" class="form-control" value="submit"> <br> <br>
        </form>
        </div>
{% endblock %}
